<div class="wrap-header">
    <div class="flat-header flat-header-style2">
        <div class="top-bar clearfix">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" style="padding-bottom:10px;">
                        <div id="logo" class="logo">
                            <a href="index.html"><img width="300px" src="../assets/images/logo/logo.png"
                                    alt="images"></a>
                        </div>


                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <ul class="information" style="text-align: end;">

                            <li class="phone lt-sp003">
                                <i class="fa fa-phone" aria-hidden="true"></i> 04290-249661
                            </li>
                            <li class="email">
                                <i class="fa fa-envelope" aria-hidden="true"></i> admin@nsit.edu.in
                            </li>


                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="transparent-head transparent-head-style5"
    style="background-image: url(../assets/images/slider/bg.jpg);">
    <div class="container">
        <div class="wrap-transparent">
            <div class="pd-lf">

                <div class="title text-white">

                    Admissions Open
                </div>
                <p style="color: white;font-style: italic;font-size: 17px;font-weight: bold;">Counselling Code - 2639</p>
                <p class="text text-white">
                    A large number of students apply to NSIT for
                    admission each year and the process of admission is smooth and hassle- free. Based on their
                    merit the students are given a range of options to pursue their under graduation / post
                    graduation.
                </p>
                <div class="btn-edu">
                    <ul>
                        <li class="bt-copy">
                            <a href="#scrollform" class="bg-cl667eea" style="background-color: #f2184f;">Apply Now</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="pd-rg">
                <div class="videobox">
                    <a class="fancybox" data-type="iframe" href="https://www.youtube.com/embed/Owqngaie7jc?autoplay=1">
                        <img width="500px" height="100%" style="border-radius:10px;margin-top:50px;"
                            src="../assets/images/slider/yt.jpg" alt="images">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section><!-- transparent-head -->
<section class="partner-clients partner-clients-style1">

    <div class="container">
        <div class="title-section" style="padding-top: 50px;">
            <div class="flat-title small heading-type4">
                Placements
            </div>
        </div>
        <h2 style="font-size: 25px;color: #f2184f;padding-top: 10px;padding-bottom: 50px;margin-left: -50;text-align: center;">
            15,000+ Placements in 1,000+ Companies</h2>

        <div class="row">
            <div class="col-md-8">


                <!-- <marquee behavior="scroll" direction='right' scrollamount="1">   -->

                <h2 style="font-size: 25px;padding-top: 10px;padding-bottom: 20px;text-align: center;">
                    Top Recruiting Companies</h2>
                <p style="padding-top: 60px;text-align: justify;">
                    We at Narasu’s Sarathy Institute of Technology believe that our students Should be able to adopt and become strong in their technical and life skills to survive in the industry. Hence training
                    for hiring starts at the very beginning in semester one itself. Since in companies hiring is based
                    on performance, our placement training is also performance based.
                </p>

                <marquee scrollamount="15" direction="left" behavior="scroll">
                    <img src='../assets/images/companies/7.png' alt="images">
                    <img src='../assets/images/companies/3.png' alt="images">
                    <img src='../assets/images/companies/2.png' alt="images">
                    <img src='../assets/images/companies/8.png' alt="images">
                    <img src='../assets/images/companies/4.png' alt="images">
                    <img src='../assets/images/companies/5.png' alt="images">
                    <img src='../assets/images/companies/1.png' alt="images">
                    <img src='../assets/images/companies/6.png' alt="images">

                    <img src='../assets/images/companies/12.png' alt="images">
                    <img src='../assets/images/companies/13.png' alt="images">
                    <img src='../assets/images/companies/14.png' alt="images">
                </marquee>
                <!-- </marquee> -->

            </div>
            <div class="col-md-4">
                <div style="align-items: flex-start;">
                    <img width="500px" style="padding-top: 50px;" src='../assets/images/companies/award.png'
                        alt="images">
                </div>
            </div>
        </div>
    </div>
</section>


<section class="flat-services style1   clearfix" style="background-image: url(../assets/images/slider/bg2.jpg);">
    <div class="container">


        <div class="title-section">
            <div class="flat-title small heading-type4" style="color: #ffffff;margin-top: -70px;text-align: center;">
                Courses Offered
            </div>
        </div>

        <div class="row" style="padding: 40px;">

            <div class="col-lg-3" style="margin-top: 30px;">
                <div class="card" style="border-radius: 8px;height:205px;">
                    <div class="card-body">

                        <div class="services-content-box themesflat-content-box" data-padding="0% 30% 0% 0%"
                            data-mobipadding="0% 0% 0% 0%" data-smobipadding="0% 0% 0% 0%">
                            <div class="flat-imagebox imagebox-services style1">
                                <div class="imagebox-content">
                                    <img src="../assets/images/home1/c1.png" alt="images">

                                    <div class="read-more" style="padding-top: 20px;">
                                        <a target="blank" href="http://www.nsit.edu.in/departments/COMPUTER%20SCIENCE%20AND%20ENGINEERING/news-events" style="color: #202845;">B.E Computer Science Engineering</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3" style="margin-top: 30px;">
                <div class="card" style="border-radius: 8px;height:205px;">
                    <div class="card-body">
                        <div class="services-content-box themesflat-content-box" data-padding="0% 30% 0% 0%"
                            data-mobipadding="0% 0% 0% 0%" data-smobipadding="0% 0% 0% 0%">
                            <div class="flat-imagebox imagebox-services style1">
                                <div class="imagebox-content">
                                    <img src="../assets/images/home1/c2.png" alt="images">

                                    <div class="read-more" style="padding-top: 20px;">
                                        <a target="blank" href="http://www.nsit.edu.in/departments/ELECTRONICS%20AND%20COMMUNICATION%20ENGINEERING/news-events" style="color: #202845;">B.E Electronics and Communication
                                            Engineering</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3" style="margin-top: 30px;">
                <div class="card" style="border-radius: 8px;height:205px;">
                    <div class="card-body">
                        <div class="services-content-box themesflat-content-box" data-padding="0% 30% 0% 0%"
                            data-mobipadding="0% 0% 0% 0%" data-smobipadding="0% 0% 0% 0%">
                            <div class="flat-imagebox imagebox-services style1">
                                <div class="imagebox-content">
                                    <img src="../assets/images/home1/c3.png" alt="images">

                                    <div class="read-more" style="padding-top: 20px;">
                                        <a target="blank" href="http://www.nsit.edu.in/departments/COMPUTER%20SCIENCE%20AND%20ENGINEERING/news-events" style="color: #202845;">B.Tech Information Technology</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3" style="margin-top: 30px;">
                <div class="card" style="border-radius: 8px;height:205px;">
                    <div class="card-body">
                        <div class="services-content-box themesflat-content-box" data-padding="0% 30% 0% 0%"
                            data-mobipadding="0% 0% 0% 0%" data-smobipadding="0% 0% 0% 0%">
                            <div class="flat-imagebox imagebox-services style1">
                                <div class="imagebox-content">
                                    <img src="../assets/images/home1/c4.png" alt="images">

                                    <div class="read-more" style="padding-top: 45px;">
                                        <a target="blank" href="http://www.nsit.edu.in/departments/CIVIL%20ENGINEERING/news-events" style="color: #202845;">B.E Civil Engineering</a>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-3" style="margin-top: 30px;">
                <div class="card" style="border-radius: 8px;height:205px;">
                    <div class="card-body">
                        <div class="services-content-box themesflat-content-box" data-padding="0% 30% 0% 0%"
                            data-mobipadding="0% 0% 0% 0%" data-smobipadding="0% 0% 0% 0%">
                            <div class="flat-imagebox imagebox-services style1">
                                <div class="imagebox-content">
                                    <img src="../assets/images/home1/c5.png" alt="images" style="padding-top: 10px;">
                                    <div class="read-more" style="padding-top: 30px;">
                                        <a target="blank" href="http://www.nsit.edu.in/departments/MECHANICAL%20ENGINEERING/news-events" style="color: #202845;">B.E Mechanical Engineering</a>
                                        <h6 class="text-white">fef</h6>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3" style="margin-top: 30px;">
                <div class="card" style="border-radius: 8px;height:205px;">
                    <div class="card-body">
                        <div class="services-content-box themesflat-content-box" data-padding="0% 30% 0% 0%"
                            data-mobipadding="0% 0% 0% 0%" data-smobipadding="0% 0% 0% 0%">
                            <div class="flat-imagebox imagebox-services style1">
                                <div class="imagebox-content">
                                    <img src="../assets/images/home1/c6.png" alt="images" style="padding-top: 10px;">

                                    <div class="read-more" style="padding-top: 20px;">
                                        <a target="blank" href="http://www.nsit.edu.in/departments/ELECTRICAL%20AND%20ELECTRONIC%20ENGINEERING/news-events" style="color: #202845;">B.E Electrical and Electronics
                                            Engineering</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3" style="margin-top: 30px;">
                <div class="card" style="border-radius: 8px;height:205px;">
                    <div class="card-body">
                        <div class="services-content-box themesflat-content-box" data-padding="0% 30% 0% 0%"
                            data-mobipadding="0% 0% 0% 0%" data-smobipadding="0% 0% 0% 0%">
                            <div class="flat-imagebox imagebox-services style1">
                                <div class="imagebox-content">
                                    <img src="../assets/images/home1/c7.png" alt="images" style="padding-top: 10px;">

                                    <div class="read-more" style="padding-top: 45px;">
                                        <a target="blank" href="http://www.nsit.edu.in/departments/ME(VLSI)/news-events" style="color: #202845;">ME (VLSI)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3" style="margin-top: 30px;">
                <div class="card" style="border-radius: 8px;height:205px;">
                    <div class="card-body">
                        <div class="services-content-box themesflat-content-box" data-padding="0% 30% 0% 0%"
                            data-mobipadding="0% 0% 0% 0%" data-smobipadding="0% 0% 0% 0%">
                            <div class="flat-imagebox imagebox-services style1">
                                <div class="imagebox-content">
                                    <img src="../assets/images/home1/c8.png" alt="images" style="padding-top: 10px;">

                                    <div class="read-more" style="padding-top: 20px;">
                                        <a target="blank" href="http://www.nsit.edu.in/departments/ME(COMPUTER%20SCIENCE%20AND%20ENGINEERING)/news-events" style="color: #202845;">ME (Computer Science Engineering)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- flat-services -->




<!-- +++++++ JP Boundry ++++++ -->





<section class="latest-blog cl-dots1 latest-blog-type1 latest-blog-style1">
    <div class="container">
        <div class="title-section">
            <div class="flat-title small heading-type4">
                Achievements and Awards
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <article style="background-color: #202845;">
                    <div class="post-border">

                        <div class="content-related-post">
                            <div class="related-post-inner">
                                <img src="../assets/images/life/edc.png" alt="images"
                                    style="padding-left: 50px;padding-top: 30px;">
                                    <h2 class="post-title lt-sp025 "
                                    style=" color: #ffffff;padding-top: 50px;font-size: 30px;padding-left:30px;padding-right:0px">
                                    We Create Entrepreneurs
                                </h2>
                                <div class="text"
                                    style="color: #ffffff;font-style: italic;padding-right:30px; padding-top: 20px;padding-bottom: 30px;text-align: left;padding-left: 30px">
                       
                                   We teach engineering which turns out our graduates to enterpreneurs who creates opportunities to solve real time problems
                                </div>

                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="post related-posts-wrap">
                    <div class="post-border">
                        <div class="featured-post">
                            <img src="../assets/images/achiveAwards/a5.jpg" alt="images">
                        </div>
                        <div class="content-related-post">
                            <div class="related-post-inner">
                                <h5 class="post-title lt-sp025">
                                    <a href="#" style="font-style:italic;">2 + Incubation center</a>
                                </h5>
                                <div class="text" style="text-align: justify;">
                                    Awarded as best incubation center
                                </div>

                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="row" style="padding-top: 50px;">
            <div class="col-md-4">
                <article class="post related-posts-wrap">
                    <div class="post-border">
                        <div class="featured-post">
                            <img src="../assets/images/achiveAwards/a3.jpg" alt="images">
                        </div>
                        <div class="content-related-post">
                            <div class="related-post-inner">
                                <h5 class="post-title lt-sp025">
                                    <a href="#" style="font-style:italic;">150 + Guest Lectures</a>
                                </h5>
                                <div class="text" style="text-align: justify;">
                                    Guest lectures help students improve their learning in a more interactive, topic
                                    specific way. These can be very helpful not only for the students, but can also
                                    contribute to the teacher's knowledge and practices. Guest lectures can be used to
                                    make classes more approachable and appealing to students.
                                </div>

                            </div>
                        </div>
                    </div>
                </article>
            </div>


            <div class="col-md-4">
                <article class="post related-posts-wrap">
                    <div class="post-border">
                        <div class="featured-post">
                            <img src="../assets/images/achiveAwards/a4.jpg" alt="images">
                        </div>
                        <div class="content-related-post">
                            <div class="related-post-inner">
                                <h5 class="post-title lt-sp025">
                                    <a href="#" style="font-style:italic;">100 + Social Awareness Programmes</a>
                                </h5>
                                <div class="text" style="text-align: justify;">
                                    We mainly focuses on taking responsibility for one's own actions. It is a promise
                                    everyone should make for the society while working for the social, cultural and,
                                    ecological causes.In this way, youth social responsibility beliefs reflect an
                                    orientation towards civic engagement.
                                </div>

                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <div class="col-md-4">
                <article class="post related-posts-wrap">
                    <div class="post-border">
                        <div class="featured-post">
                            <img src="../assets/images/achiveAwards/a2.jpg" alt="images">
                        </div>
                        <div class="content-related-post">
                            <div class="related-post-inner">
                                <h5 class="post-title lt-sp025">
                                    <a href="#" style="font-style:italic;">500 + Inter college Awards</a>
                                </h5>
                                <div class="text" style="text-align: justify;">
                                    Inter college activities gives our student the chance to meet people and diversify
                                    working for the social, cultural and, ecologica
                                    their contacts beyond the circle of people and, ecological causes.In this way, youth
                                    social responsibility beliefs reflect an orientation towards civic engagement.
                                </div>

                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section><!-- latest-blog -->

<section style="background-color: #202845;padding-bottom: 30px;" id="scrollform">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div style="padding-bottom: 50px;">
                    <div class="title-section" style="padding-top: 50px;">
                        <div class="flat-title small heading-type4 text-white">
                            Apply Now
                        </div>
                    </div>
                </div>
                <!-- <div class="card-body"> -->
                <form [formGroup]="studentForm" (ngSubmit)="submittest(studentForm.valid,studentForm.value)">
                    <div class="form-group row">
                        <!-- <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label> -->
                        <div class="col-sm-10">
                            <input class="form-control form-control-alternative" maxlength="60" placeholder="Name"
                                formControlName="Name" type="text" useValueAsDate />
                        </div>
                    </div>
                    <div class="form-group row">
                        <!-- <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label> -->
                        <div class="col-sm-10">
                            <input class="form-control form-control-alternative" maxlength="60"
                                placeholder="Father's/Guardian's Name" formControlName="fg_name" type="text"
                                useValueAsDate />
                        </div>
                    </div>
                    <div class="form-group row">
                        <!-- <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label> -->
                        <div class="col-sm-10">
                            <input class="form-control form-control-alternative" maxlength="60" placeholder="Mobile"
                                formControlName="Mobile" type="text" useValueAsDate />
                        </div>
                    </div>
                    <div class="form-group row">
                        <!-- <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label> -->
                        <div class="col-sm-10">
                            <input class="form-control form-control-alternative" maxlength="60" placeholder="Standard"
                                formControlName="Standard" type="text" useValueAsDate />
                        </div>
                    </div>
                    <div class="form-group row">
                        <!-- <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label> -->
                        <div class="col-sm-10">
                            <input class="form-control form-control-alternative" maxlength="60" placeholder="School"
                                formControlName="School" type="text" useValueAsDate />
                        </div>
                    </div>
                    <div class="form-group row">
                        <!-- <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label> -->
                        <div class="col-sm-10">
                            <input class="form-control form-control-alternative" maxlength="60" placeholder="District"
                                formControlName="District" type="text" useValueAsDate />
                        </div>
                    </div>
                    <div class="form-group row">
                        <!-- <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label> -->
                        <div class="col-sm-10">
                            <input class="form-control form-control-alternative" maxlength="60" placeholder="State"
                                formControlName="State" type="text" useValueAsDate />
                        </div>
                    </div>
                    <div class="form-group row">
                        <!-- <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label> -->
                        <div class="col-sm-10">
                            <button type="submit" [disabled]="studentForm.invalid"
                                class="btn btn-outline-secondary btn  btn-block">Submit</button>

                        </div>
                    </div>
                </form>

            </div>

            <div class="col-md-8">
                <div class="title-section" style="padding-top: 70px;">
                    <div class="flat-title small heading-type text-white text-center">
                        Why choose us?
                    </div>
                </div>


                <div class="row">
                    <p style="color: #ff6666;padding:15px">Education | Ethics | Challenge | Problem solving</p> <br>
                    <p style="padding-top: 10px;font-style: italic;text-align: left;padding-right: 10px;padding:15px;text-align: justify;">
                        NSIT is an institution that has scaled unimaginable heights for an entity so young. The main
                        factor for this is the strong and dedicated management whose only aim is to create engineers of
                        world -class ability.Institutions that are on par with NSIT in terms of infrastructure, teachers
                        and technology are very few and far apart. The industry exposure it offers is extremely valuable
                        .
                    </p>
                    <br>
                    <p style="text-align: left;padding:15px;font-style: italic;text-align: justify;">
                        The Narasu's Sarathy Institute of Technology aims to produce engineers who are not only
                        technically
                        competent but also socially responsible.The institution's foundation stone was laid by
                        entrepreneur
                        and educationist Thiru Sarathy Ayya on January 26th, 2008 and is promoted by the Srimathi
                        Mahalakshmi Ammal Educational Trust.
                    </p>

                </div>
                <div style="padding-top: 30px;">
                    <ul style='text-align: center;font-size: large'>
                        <li><img width="350px" src="../assets/images/slider/club.png" alt="images"></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="latest-blog cl-dots1 latest-blog-type1 latest-blog-style1">
    <div class="container">
        <div class="title-section">
            <div class="flat-title small heading-type4">
                Culture at NSIT
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <article class="post related-posts-wrap">
                    <div class="post-border">
                        <div class="featured-post">
                            <img src="../assets/images/life/startup.png" alt="images">
                        </div>
                        <div class="content-related-post">
                            <div class="related-post-inner">
                                <h5 class="post-title lt-sp025">
                                    <a href="#" style="font-style:italic;">5 + Startup</a>
                                </h5>
                                <!-- <div class="text" style="font-style: italic;">
                                    Ducktsacks
                                </div> -->

                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="post related-posts-wrap">
                    <div class="post-border">
                        <div class="featured-post">
                            <img src="../assets/images/life/lab.jpg" alt="images">
                        </div>
                        <div class="content-related-post">
                            <div class="related-post-inner">
                                <h5 class="post-title lt-sp025">
                                    <a href="#" style="font-style:italic;">Laboratory</a>
                                </h5>
                                <!-- <div class="text" style="font-style: italic;">
                                    Tips To Improve Your Design Skills. Learn to identify good design. If you want to
                                    create great designs, first you need to learn.
                                </div> -->

                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="post related-posts-wrap">
                    <div class="post-border">
                        <div class="featured-post">
                            <img src="../assets/images/life/sports.jpg" alt="images">
                        </div>
                        <div class="content-related-post">
                            <div class="related-post-inner">
                                <h5 class="post-title lt-sp025">
                                    <a href="#" style="font-style:italic;">Sporting Excellence</a>
                                </h5>
                                <!-- <div class="text" style="font-style: italic;">
                                    Tips To Improve Your Design Skills. Learn to identify good design. If you want to
                                    create great designs, first you need to learn.
                                </div> -->

                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <div class="col-md-4">
                <article class="post related-posts-wrap">
                    <div class="post-border">
                        <div class="featured-post">
                            <img src="../assets/images/life/club.png" alt="images">
                        </div>
                        <div class="content-related-post">
                            <div class="related-post-inner">
                                <h5 class="post-title lt-sp025">
                                    <a href="#" style="font-style:italic;">Open Source Project Clubs</a>
                                </h5>
                                <!-- <div class="text" style="font-style: italic;">
                                    Tips To Improve Your Design Skills. Learn to identify good design. If you want to
                                    create great designs, first you need to learn.
                                </div> -->

                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <div class="col-md-4">
                <article class="post related-posts-wrap">
                    <div class="post-border">
                        <div class="featured-post">
                            <img src="../assets/images/life/fest.jpeg" alt="images">
                        </div>
                        <div class="content-related-post">
                            <div class="related-post-inner">
                                <h5 class="post-title lt-sp025">
                                    <a href="#" style="font-style:italic;">N-Fest's</a>
                                </h5>
                                <!-- <div class="text" style="font-style: italic;">
                                    Tips To Improve Your Design Skills. Learn to identify good design. If you want to
                                    create great designs, first you need to learn.
                                </div> -->

                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <div class="col-md-4">
                <article class="post related-posts-wrap">
                    <div class="post-border">
                        <div class="featured-post">
                            <img src="../assets/images/life/canteen.jpg" alt="images">
                        </div>
                        <div class="content-related-post">
                            <div class="related-post-inner">
                                <h5 class="post-title lt-sp025">
                                    <a href="#" style="font-style:italic;">Cafeteria</a>
                                </h5>
                                <!-- <div class="text" style="font-style: italic;">
                                    Tips To Improve Your Design Skills. Learn to identify good design. If you want to
                                    create great designs, first you need to learn.
                                </div> -->

                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section><!-- latest-blog -->


<section class="testimonial testimonial-style5 clearfix flat-introduce flat-introduce-style1 transparent-head ">
    <div class="container">
        <div class="col-left">
            <div class="pd-rg">
                <div class="videobox" style="padding:20px;">
                    <a class="fancybox" data-type="iframe" href="https://www.youtube.com/embed/Owqngaie7jc?autoplay=1">
                        <img width="500px" style="padding-top: 50px;" src="../assets/images/slider/yt.jpg" alt="images">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-right">
            <div class="title-section">
                <div class="flat-title medium heading-type15">Testimonials</div>
            </div>
            <div class="client-style1 wrap-testimonial clearfix">
                <div class="flat-carousel-box data-effect clearfix" data-gap="30" data-column="1" data-column2="1"
                    data-column3="1" data-column4="1" data-dots="true" data-auto="false" data-nav="false">
                    <div class="owl-carousel">

                        <div class="client-info">
                            <span class="icon-quote icon-icons8-get-quote-filled-100"></span>
                            <div class="speech" style="text-align: justify;">
                                It's a place of creative minds,great place to have the walk while having some new
                                thoughts. NSIT for me was a place where I had the best mentors to guide me always.
                            </div>
                            <div class="name">
                                Naveen M
                            </div>
                        </div>

                        <div class="client-info">
                            <span class="icon-quote icon-icons8-get-quote-filled-100"></span>
                            <div class="speech" style="text-align: justify;">
                                I am one of passed out student from this college.Facilities in college is average in my
                                point of view.Placement is below average. But placement training is good.
                            </div>
                            <div class="name">
                                Balaji B
                            </div>
                        </div>
                        <div class="client-info">
                            <span class="icon-quote icon-icons8-get-quote-filled-100"></span>
                            <div class="speech" style="text-align: justify;">
                                A very happening institute where a budding Engineer is trained for placements from the
                                very first day of joining.where a woman empowerment club is in assistance .
                            </div>
                            <div class="name">
                                Boomija Ganesan
                            </div>
                        </div>
                        <div class="client-info">
                            <span class="icon-quote icon-icons8-get-quote-filled-100"></span>
                            <div class="speech" style="text-align: justify;">
                                Faculties are so friendly and teachings are so good . They take good care of us. we
                                enjoy the surrounding atmosphere and they are likely for us to study.
                            </div>
                            <div class="name">
                                Harish Moorthy
                            </div>
                        </div>
                        <div class="client-info">
                            <span class="icon-quote icon-icons8-get-quote-filled-100"></span>
                            <div class="speech" style="text-align: justify;">
                                Very dedicated and proactive management and team- I feel the students should make use of
                                the great efforts taken by the management for their benefit.
                            </div>
                            <div class="name">
                                Nawas Babu
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- testimonial -->


<footer id="footer" class="footer-type1">
    <div id="bottom" class="bottom-type1 clearfix has-spacer" style="background-color: #202845;">
        <div id="bottom-bar-inner" class="container">
            <div style="height:100px;">
                <div style="align-items: center;">
                    <div id="copyright" style="color: #f7f7f7;text-align: center;padding-top: 30px;">
                        ©
                        <span class="text-year" style="color: #f7f7f7;">
                            2020
                        </span>
                        <span class="text-name" style="color: #f7f7f7;">

                        </span>
                        <span class="license">
                            <a href="#" style="color: #f7f7f7;">All Rights Reserved</a>
                        </span>
                    </div>
                </div>
                <!-- <div class="bottom-bar-menu">
                    <ul class="bottom-nav">
                        <li class="menu-item"><a href="#">About Company</a></li>
                        <li class="menu-item"><a href="#">Privacy Policy</a></li>
                        <li class="menu-item"><a href="#">Help Center</a></li>
                        <li class="menu-item"><a href="#">Terms</a></li>
                        <li class="menu-item"><a href="#">Site Map</a></li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>

</footer><!-- footer -->